.main-div{
    text-align: center;
}

#header{
    text-align: center;
}

#code-box{
    margin: 10px;
}

textarea{
    border-radius: 8px;
    text-align: center;
    resize: none;
    height: 60px;
}

