.main-div {
    text-align: center;
}

table {
    margin: auto;
}

table, th, td {
    border: 2.5px solid black;
    background-color: whitesmoke;
}


#header {
    text-align: center;
}

#code-box {
    margin: 10px;
}

textarea {
    border-radius: 8px;
    text-align: center;
    resize: none;
    height: 58px;
}

body {
    background: rgb(136, 213, 203);
    background: linear-gradient(90deg, rgba(136, 213, 203, 1) 18%, rgba(45, 170, 154, 1) 39%, rgba(14, 144, 127, 1) 68%);
}